<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <title>First Drip by heavenfreesta</title>
</head>
<body>
    {% csrf_token %}
    <div class="text-center"style="color: black;">Welcome, <b>{{name}}</b></div>
    <form action="{% url 'session:logout' %}" method="POST" style="display: inline;">
        {% csrf_token %}
        <button type='submit' class="btn btn-danger btn-sm" style="margin-top: 2em;" name='logout-btn'>Logout</button>
    </form>

</body>
</html>